# https://aistudio.google.com/api-keys
GEMINI_API_KEY=

# https://console.groq.com/keys
GROQ_API_KEY=

# https://cloud.qdrant.io/
QDRANT_URL=
QDRANT_API_KEY=

# https://console.aiven.io/
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=defaultdb
SSL_MODE=require